<!DOCTYPE html>
<!--informacja dla dokumentu że wykorzystujemy zestaw bibliotek thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Login form </h1>

    <form th:action="@{login_process}" th:method="post">
        <!--type -> typ inputu-->
        <!--name -> nazwa parametru-->
        <input th:type="email" th:placeholder="'input your email'" th:name="email"><br>
        <input th:type="password" th:placeholder="'input your password'" th:name="password"><br>
        <input th:type="submit" th:value="login">
    </form>
</body>
</html>